<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Project</title>
  </head>
  <body>
    <h1>Todo</h1>
    <p><a href="/view">Todo Template</a></p>
    <p><a href="/api">Todo RestAPI</a></p>
  </body>
</html>
